
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;

}

canvas {
    position: relative;
    top: 30px;
}
#btn {
    color: rgb(48, 47, 47);
    margin-left: 12px;
    background-color: white;
    color: #000;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in-out
}
#btn:hover {
   background-color: orangered;
   color: #fff;
   cursor: pointer;
}
#inputs {
    margin: 40px 0px 0px 50px;
    text-align: center;
}
#color {
      width: 200px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 20px;
    padding: 1px;
}
#color::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
    
}